*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    
}

.main{
    min-height: 100px;
    padding: 10px;
    width: 60%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    
}
.Hero{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
#in-1{
    padding: 16px;
    border-radius: 5px;
}
#conversionType{
   padding: 16px;
   border: none;
   border-radius: 5px;
   cursor: pointer;

}
h5{
    font-size: 20px;
    margin-bottom: 10px;
}
.No-1{

    
    width: 100px;
    
}
.No-2{
  
    width: 100px;
    
}
button{
    cursor: pointer;
    margin-top: 16px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
